<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Albums</title>
    <link rel="stylesheet" href= "./css/style.css" />
</head>
<body>
<h1>Add a new album to the list</h1>
<form action="/addAlbum" method="POST">

    <label for="title">Title:  <input type="text" name="title" id="title"> </label>
    <br>

    <label for="artist">Artist:<input type="text" name="artist" id="artist"> </label>
    <br>

    <label for="songCount">Number Of Song:<input type="number" name="songCount" id="songCount"> </label>
    <br>

    <label for="length">Length is seconds:<input type="number" name="length" id="length"> </label>
    <br>

    <label for="imageUrl">link for album image:<input type="text" name="imageUrl" id="imageUrl"> </label>
    <br>
    <input type="submit" value="Add">




</form>

</body>
</html>