<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums Theater</title>

    <link rel="stylesheet" href= "./css/style.css" />
</head>
<body>

<nav class="navbar 1">
    <div class="container1">
           <button  onclick="location.href='/'">HOME</button>
        <button  onclick="location.href='/addAlbum'"> ADD ALBUM</button>
    </div>
</nav>

<div>
    <h1>list of our best hit </h1>
    <div class="container">

            <div class="col" th:each="albums :${albums}">

                <div class="card" style="width: 18rem;">
                    <img th:src="${albums.imageUrl}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${albums.title}"></h5>
                        <p class="card-text" th:text="${albums.artist}"></p>
                        <p class="card-text" th:text="${albums.songCount}"></p>
                        <p class="card-text" th:text="${albums.length}"></p>

                    </div>
                </div>
            </div>
    </div>
</div>
</body>
</html>
